<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create a seller</h1>
    <form action="/sellers/create" method="post">
        <label>
            First Name
            <input type="text" name="first_name" required>
        </label>
        <br>
        <br>
        <label>
            Last Name
            <input type="text" name="last_name" required>
        </label>
        <br>
        <br>
        <label>
            Birthday
            <input type="date" name="birthday">
        </label>
        <br>
        <br>
        <label>
            Cedula
            <input type="text" name="cedula" required>
        </label>
        <br>
        <br>
        <label>
            Company start day
            <input type="date" name="company_start_date" required>
        </label>
        <br>
        <br>
        <label>
            DNI
            <input type="text" name="DNI" required>
        </label>
        <br>
        <br>
        <label>
            Phone
            <input type="text" name="phone" required>
        </label>
        <br>
        <br>
        <button type="submit">Save</button>
    </form>
</body>
</html>