<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <h1>Products</h1>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Product id</th>
                    <th>Product</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{product.id}}</td>
                        <td>{{product.product_name}}</td>
                        <td>{{product.category}}</td>
                        <td>
                            <a href="/products/{{product.id}}/edit">Edit</a>
                        </td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</body>
</html>
